<h1>Listing ratings</h1>

<table>
  <tr>
    <th>User</th>
    <th>Restaurant</th>
    <th>Ok value</th>
  </tr>

<% @ratings.each do |rating| %>
  <tr>
    <td><%=h rating.user_id %></td>
    <td><%=h rating.restaurant_id %></td>
    <td><%=h rating.ok_value %></td>
    <td><%= link_to 'Show', rating %></td>
    <td><%= link_to 'Edit', edit_rating_path(rating) %></td>
    <td><%= link_to 'Destroy', rating, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New rating', new_rating_path %>