<h1>New restaurant</h1>

<% form_for(@restaurant) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :eid %><br />
    <%= f.text_field :eid %>
  </p>
  <p>
    <%= f.label :min_scale %><br />
    <%= f.text_field :min_scale %>
  </p>
  <p>
    <%= f.label :max_scale %><br />
    <%= f.text_field :max_scale %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', restaurants_path %>